* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100%;
}

.wrapper {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #D1D1D1;
  -webkit-transition: 0.35s;
  transition: 0.35s;
}

.wrapper.active {
  background-color: #999999;
}

.th {
  -webkit-transition: 0.35s;
  transition: 0.35s;
}

header {
  background-color: #B8B8B8;
  padding: 15px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #00000020;
}

header.active {
  background-color: #858585;
}

header .logo {
  -webkit-transition: 0.35s;
  transition: 0.35s;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1.5px;
  color: #fff;
}

header .them {
  cursor: pointer;
  position: relative;
  width: 60px;
  -webkit-transition: 0.35s;
  transition: 0.35s;
  height: 30px;
  background-color: #858585;
  border-radius: 15px;
}

header .them.active {
  background-color: #F7F7F7;
}

header .them::before {
  content: '';
  position: absolute;
  width: 17px;
  height: 17px;
  top: 50%;
  -webkit-transition: 0.35s;
  transition: 0.35s;
  left: 15px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: #F7F7F7;
}

header .them.active::before {
  background-color: #858585;
  left: 45px;
}

main {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .start-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .start-container .setting {
  font-size: 60px;
  color: #fff;
  background-color: #B8B8B8;
  padding: 7px 10px;
  border-radius: 15px;
  cursor: pointer;
}

main .start-container .setting.active {
  background-color: #858585;
}

main .start-container .setting:hover {
  background-color: #F7F7F7;
  color: #858585;
}

main .start-container .start-btn {
  background-color: #B8B8B8;
  color: #fff;
  font-weight: bold;
  letter-spacing: 2px;
  margin-left: 10px;
  font-size: 30px;
  width: 200px;
  height: 70px;
  border-radius: 15px;
  border: none;
  outline: none;
  cursor: pointer;
}

main .start-container .start-btn.active {
  background-color: #858585;
}

main .start-container .start-btn:hover {
  background-color: #F7F7F7;
  color: #858585;
}

.board {
  display: none;
  width: 75%;
  height: 400px;
  background-color: #B8B8B890;
  border-radius: 15px;
  margin: auto auto;
  color: #111;
  padding: 20px 20px 70px 20px;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.board.active {
  color: #fff;
  background-color: #858585;
}

.board .text-zone {
  font-size: 40px;
  letter-spacing: 2px;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow-y: scroll;
}

.board .text-zone .variable {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1px;
  padding: 2px;
  min-width: 30px;
  min-height: 45px;
}

.board .text-zone .variable.active {
  background-color: rgba(79, 74, 74, 0.6);
  color: #fff;
}

.board .info {
  width: 100%;
  height: 80px;
  bottom: 0;
  left: 0;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  position: absolute;
  padding: 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #99999990;
}

.board .info.active {
  background-color: #555555;
}

.board .info .text {
  margin-left: 10px;
  font-size: 20px;
  font-weight: bold;
}

.board .info .text .correct, .board .info .text .failes {
  font-weight: normal;
}

.board .info .back-btn {
  font-size: 50px;
  cursor: pointer;
  color: #fff;
  margin-right: 20px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.board .info .back-btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.settings {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  width: 300px;
  background-color: #85858590;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  border-radius: 20px;
  padding: 75px 40px;
  font-size: 22px;
}

.settings.active {
  background-color: #747474;
}

.settings .close-modal {
  width: 50px;
  height: 50px;
  background-color: #f00707;
  border-radius: 5px;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  color: #fff;
  font-size: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: bold;
}

.settings .close-modal:hover {
  opacity: 0.8;
}

.settings .set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 50px;
  position: relative;
}

.settings .set .title {
  text-decoration: underline;
}

.settings .set .level-inp {
  outline: none;
  margin-left: 15px;
}

.settings .set .level-inp::before {
  content: '1 2 3 4 5 6 7 8 9 10';
  position: absolute;
  font-size: 12px;
  top: 0px;
  letter-spacing: 1.3px;
  right: 13.5px;
}

.settings .set .select-time, .settings .set .select-mode {
  margin-left: 20px;
  outline: none;
  background-color: #858585;
  padding: 3px 10px;
  color: #fff;
}

.settings .set .select-mode {
  margin-left: 10px;
}

.settings .set .time-enter {
  background-color: #858585;
  color: #fff;
  width: 100%;
  padding: 3px 5px;
  font-size: 18px;
  outline: none;
  border: 1px solid #00000020;
}

.settings .set .time-enter::-webkit-input-placeholder {
  color: #fff;
}

.settings .set .time-enter:-ms-input-placeholder {
  color: #fff;
}

.settings .set .time-enter::-ms-input-placeholder {
  color: #fff;
}

.settings .set .time-enter::placeholder {
  color: #fff;
}

.settings .time-enter-set {
  display: none;
}

.settings .options-sec {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.settings .options-sec .option {
  margin-top: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.settings .options-sec .option label {
  font-style: italic;
  font-size: 15px;
}

.settings .options-sec .option input {
  margin-left: 10px;
}

.modal {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  width: 350px;
  height: 200px;
  background-color: #A4A4A4;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  border-radius: 20px;
  padding: 55px 40px;
  font-size: 22px;
  overflow: hidden;
}

.modal.active {
  background-color: #747474;
}

.modal .close-modal {
  width: 50px;
  height: 50px;
  background-color: #f00707;
  border-radius: 5px;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  color: #fff;
  font-size: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: bold;
}

.modal .close-modal:hover {
  opacity: 0.8;
}

.modal .mess {
  color: #fff;
  font-size: 35px;
  margin: auto auto;
  text-transform: capitalize;
  text-align: center;
}

.modal .mess .general {
  font-weight: bold;
  white-space: nowrap;
}

.modal .mess .sub {
  font-size: 25px;
  margin-top: 10px;
}
